html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    line-height:1; 
}

ul {
    list-style:none; 
}

.blogHeading { 
    color: #007aa7; 
    font-weight: bold; 
    font-family: 'Comfortaa', cursive;
}

.navactive {
    color: #007aa7;
    border-bottom: #007aa7 4px solid;
}

/*
    PLAYLIST STYLES
*/
.left { float:left; }
.right { float:right; }
.mainwrap {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    font:20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    padding:5px 0;
}
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px; }
#nowPlay { position: fixed; bottom: 50px; width: 500px;}
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
.plList { margin:0; }
.plList li { color: #535353; font-weight: bold; background-color:#fafafa; cursor:pointer; margin:0; padding:21px 0; }
.plList li a { color: #535353; font-weight: bold; background-color:#fafafa; cursor:pointer; margin:0; padding:21px 0; }
.plList li:hover { background-color:#eeeeee; color: #007aa7;}
.plList li a:hover { background-color:#eeeeee; color: #007aa7;}
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }
#articleList li { font-weight: bold; background-color:#fafafa; cursor:pointer; margin:10px; padding:21px 0; }
#articleList li:hover { background-color:#eeeeee; color: #007aa7;}
.blogAuthor { position:absolute; right:10px; top:0; font-weight: normal; font-size: .8em;}
.blogTitle { left:10px; overflow:hidden; position:absolute; top: -.8em; font-size: 1.8em; right:65px; text-overflow:ellipsis; white-space:nowrap; }
.blogDescription { position:absolute; left:10px; top: 1.1em; }




.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.videogular-container {
    width: 1170px;
    height: 658.125px;
}

.videogular-container.audio {
    width: 100%;
    height: 50px;
}

.now-playing {
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 50px;
}

.audio-player-image {
    position: relative;
    left: -30px;
    height: 50px;
    width: 50px;
}

.audio-player-title {
    position: relative;
    left: -60px;
    bottom: -15px;
}

.playlist-icon {
    position: relative;
    height: 60px;
    width: 60px;
}


.post-list-item {
    padding: 2px;
    margin: auto;
}

.nav li {
    cursor: pointer;
    color: #007aa7;
}