{
	"presets": ["es2015"],
	"plugins": [
      "syntax-object-rest-spread",
      "transform-object-rest-spread",
      ["module-alias",
          [
            {
                "src": "./client/app", "expose": "app"
            }
          ]
      ]
  ]
}