<div class="container">
    <div>
        <form novalidate>
            <div class="row">
                <div class="col-xs-10">
                    <div class="col-xs-3">Admin Passwords</div>
                    <div class="col-xs-7"><input type="text" type="password" ng-model="password" /></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10">
                    <div class="col-xs-3">
                        <input type="submit" ng-click="login(password)" value="Login"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>