<div id="mainwrap">
    <div class="site-heading" style="width: 100%; text-align:center">
      <img style="height: 125px; margin-top: -75px" src="images/images/BlogTitle.png"/>
      <hr class="medium">
    </div>
    <div id="plwrap">
      <div class="site-heading" style="width: 100%; text-align:center">
        <div class="btn-group" style="padding-right: 10px">
            <button type="button" class="btn btn-primary" ng-style="filterActive('Technology') ? {'color': 'white', 'background-color': '#007aa7'} : {'background-color': 'white', 'color': 'black'}" ng-click="toggleFilter('Technology')">Technology</button>
            <button type="button" class="btn btn-primary" ng-style="filterActive('Gaming') ? {'color': 'white', 'background-color': '#007aa7'} : {'background-color': 'white', 'color': 'black'}" ng-click="toggleFilter('Gaming')">Gaming</button>
            <button type="button" class="btn btn-primary" ng-style="filterActive('Variety') ? {'color': 'white', 'background-color': '#007aa7'} : {'background-color': 'white', 'color': 'black'}" ng-click="toggleFilter('Variety')">Variety</button>
        </div>
      </div>
      <ul class="blogList" style="padding-top: 55px;">
        <a ng-href="articles/{{item.id}}" ng-repeat="item in postList">
          <li style="border-bottom: solid 1px #F1F1F1"  ng-style="{border: adminUser && item.is_draft ? '4px orange solid' : 'none' }">
          <div class="row">
            <div class="col-xs-12" style="margin-left: 0; margin-right: 0">
              <div class="col-xs-6">
                <img class="blogItemImage" ng-src="{{item.image}}" />
              </div>
              <div class="col-xs-6 blogItem">
                <div class="blogTitle">{{ item.title }}</div>
                <div class="blogDescription">{{item.description}}</div>
                <div class="blogAuthor">Submitted By: {{ item.author }}</div>
              </div>
            </div>
          </li>
        </a>
      </ul>
    </div>
</div>