<div id="uploadImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align: center;" class="modal-title">
                    Upload Image
                </h4>
            </div>

            <div class="modal-body">
                <button type="file" ngf-select="selectBodyFile($file)" ngf-multiple="false" class="btn btn-primary btn-xs" data-dismiss="modal">
                    Select Image
                </button>
            </div>
        </div>
    </div>
</div>    