<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Upload images for the Blog
                </h4>
            </div>
            <div class="modal-body">
                <button type="file" style="width: 100%" ngf-select="selectFile($file)" ngf-multiple="false" class="btn btn-primary btn-md">
                    Select File to Upload
                </button>

                <div ng-show="uploading" style="width: 100%" >
                    <div>
                        File: {{file.name}} {{file.$error}} {{file.$errorParam}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                            Oooops we had trouble uploading the file. Please refresh the page and try again.
                            <p>If the problem persits please supply us with the following details</p>
                            <p>{{errorMsg}}</p>
                        </div>
                        <div>{{Error}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>