<div ng-show="showMessage">
    {{ submitMessage }}
</div>

<ul class="nav nav-tabs">
    <li ng-class="view == 'editor' ? 'active' : null" ng-click="changeView('editor')"><a href="#">Editor</a></li>
    <li ng-class="view == 'preview' ? 'active' : null" ng-click="changeView('preview')"><a href="#">Preview</a></li>
</ul>

<form novalidate>
    <div class="dropdown" style="margin: 10px 0 10px 0;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Post to Edit
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="writeNewPost()">
                <a href="#">Create New post</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="item in postList" ng-click="editPost(item)">
                <a href="#">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" ng-model="postTitle">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" ng-model="postDescription">
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" ng-model="postAuthor">
    </div>

    <button ng-disabled="!readyToSave()" type="button" class="btn btn-primary btn-md" ng-click="submitPost()">
        {{ submitLabel }}
    </button>

    <textarea ng-show="view == 'editor'" style="width: 100%; height: 100%; margin-top: 10px;" rows="30" ng-model="blogText">
    </textarea>

    <div ng-show="view == 'preview'" class="col-lg-5" style="overflow-y: scroll; border: 1px solid black; width: 100%; height: 500px" marked="blogText">
    </div>

    <button ng-hide="!editing" ng-click="deletePost()">
        Delete Post
    </button>
</form>