<div class="row" ng-controller="NavCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li><img style="height: 50px;" src="images/images/LogoRecolorV2.png"/></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{navactive: stateIs(['app.podcast'])}"><a ui-sref="app.podcast">Podcast</a></li>
		        <li ng-class="{navactive: stateIs(['app.blog', 'articles'])}"><a ui-sref="app.blog">Blog</a></li>
		        <li ng-class="{navactive: stateIs(['app.write'])}" ng-show="loggedIn"><a ui-sref="app.write">Edit Blogs</a></li>
		        <li ng-class="{navactive: stateIs(['app.upload'])}" ng-show="loggedIn"><a ui-sref="app.upload">Edit Podcast</a></li>
		        <li ng-class="{navactive: stateIs(['app.login'])}" ng-show="!loggedIn"><a ui-sref="app.login">Login</a></li>
		        <li ng-show="loggedIn" ng-click="logout()"><a>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>