<div ng-include="navbar/navbar.html"></div>

<div class="container">
  <div class="row" ng-repeat="item in playlist" ng-click="setMedia(item)">
      <div class="playlist-item">
          <div class="col-xs-12 playlist-block">
            <p class="playlist-store"><strong>{{item.title}}</strong></p>
            <p class="playlist-store">{{item.description}}</p>
          </div>
      </div>
  </div>

  <div style="height: 100000px">

  </div>

  <div class="videogular-container audio">
    <videogular vg-player-ready="onPlayerReady($API)" vg-theme="config.theme.url" vg-auto-play="config.autoPlay" vg-complete="onCompleteVideo()">
      <vg-media vg-src="config.sources">
      </vg-media>

      <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
          </vg-volume>
      </vg-controls>
    </videogular>
  </div>
</div>