<div id="mainwrap" ng-if="currentlyPlaying != null">
  <div class="videogular-container audio">
    <div class="row" id="nowPlay">
      <span class="left" id="npAction"><strong>Now Playing:</strong> {{currentlyPlaying.title}}</span>
      <span class="right" id="npTitle"></span>
    </div>

    <videogular vg-player-ready="onPlayerReady($API)" vg-theme="config.theme.url" vg-auto-play="config.autoPlay" vg-complete="onCompleteVideo()">
      <vg-media vg-src="config.sources">
      </vg-media>
      <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-volume>
              <vg-mute-button></vg-mute-button>
          </vg-volume>
      </vg-controls>
    </videogular>
  </div>
</div>
