<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <!-- <img src="images/images/logo.png"/>
                    <br/> -->
                    <div  style="height: 100px; color: #EB6F3E">
                        <span class="subheading"><span style="font-size: 30px">N</span>ot <span style="font-size: 30px">A N</span>umber</span>
                        <span class="emphasized-subheading">Greater than the Numbers</span>
                    </div>
                    <hr class="medium">
                </div>
            </div>
        </div>
    </div>
</header>