html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

.playlist ul {
    list-style-type: none;
}

.playlist ul a {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}

.playlist ul a:visited {
    color: #428bca;
}

.playlist ul a:hover {
    color: #428bca;
    text-decoration: underline;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.videogular-container {
    width: 1170px;
    height: 658.125px;
}

.videogular-container.audio {
    width: 100%;
    height: 50px;
}

.now-playing {
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 50px;
}

.playlist-item {
    padding: 2px;
    width: 70%;
    margin: auto;
}

.playlist-block {
    border: solid 1px #737373;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.playlist-content {
    text-align: left;
    width: 500px;
}

.audio-player-image {
    position: relative;
    left: -30px;
    height: 50px;
    width: 50px;
}

.audio-player-title {
    position: relative;
    left: -60px;
    bottom: -15px;
}

.playlist-icon {
    position: relative;
    height: 60px;
    width: 60px;
}


.post-list-item {
    padding: 2px;
    margin: auto;
}